body {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;

    background-color: rgba(255, 255, 240, 0.567);
}

#nav-bar {
    display: flex;
    align-items: flex-end;
}
#header-img {
    margin-left: -5px;
    margin-top: -25px;
    position: relative;
    width:15%;
}
header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}
header nav ul li {
    padding: 0 50px;
    font-size: 1.25vw;
}
.product-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    font-size: 1.1vw;
}

.product-description > p {
    padding-left: 5px;
    padding-right: 5px;
}
#product-info {
    padding-top: 95px;
}

#product-title{
    font-size: 2vw;
    text-align: center;
}
#video-container {
    display: flex;
    justify-content: center;
}
#video {
    width: 560px;
    height: 320px;
}
